@use "variables" as v;

.commentItem{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-radius: 5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 95%;
    margin: 2rem auto ;
    transition: all 200ms;
    background-color: #F0F0F0;
    &.commentAdmin{
        background-color: v.$color-gpastel;
    }
    &:hover{
        box-shadow: 0 0px 0px 2px v.$color-gpastel;
    }
    .commentImg{
        width: 7rem;
        padding: 1rem;
        display: flex;
        border-radius: 100%;
        background-color: white;
        box-shadow: 0 2px v.$color-green-dark;
        border: solid 2px v.$color-green;
        img{
            width: 100%;
        }
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
    .content{
        width: 100%;
        textarea{  
            resize: none;
        }
    }
    .userInfo{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        .userName{
            font-size: 2rem;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .icons{
            margin-left: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            svg:hover{
                cursor: pointer;
            }
            .edit-icon{
                color: v.$primary-color;
                &:hover{
                    color: v.$color-orange;
                }
            }
            .delete-icon{
                color: v.$color-red;
                &:hover{
                    color: v.$color-orange;
                }
            }
            .validate-icon{
                color: v.$color-green-dark;
                &:hover{
                    color: v.$color-green;
                }
            }
        }
    }
}

@media (min-width: v.$sm-breakpoint) {
    .commentItem{
        width: 80%;
    }
}